.contact-inf{
    padding: 80px 0;
}
.contact-inf_title{
    text-align: start !important;
}
.contact-inf_contener{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 61px;
}
.contact-inf_doc-title{
    color: #333333;
    font-family: "Gilroy";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 6px;
}
.contact-inf_doc-text{
    color: #333333;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    margin: 25px 0;
}
.contact-inf_doc-mail a{
    color: #229581;
    font-family: "Gilroy";
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: underline;
}
.contact-inf_doc-image{
    margin: 0 -10px;
}
.contact-inf_doc-image img{
    margin: 0 10px;
    cursor: pointer;
}
.contact-inf_requisites-title{
    color: #333333;
    font-family: "Gilroy";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 19px;
}
.contact-inf_requisites-block{
    display: -ms-flexbox;
    display: flex;
    border-top:1px solid #d9d9d9;
    padding: 5px 0;
    padding-left: 19px;
    width: auto;
}
.contact-inf_requisites-block-name{
    color: #333333;
    font-family: "Gilroy";
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    padding-right: 20px;
    border-right: 1px solid #d9d9d9;
    width: 55px;
}
.contact-inf_requisites-block-meta{
    color: #333333;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    margin-left: 30px;
    margin-right: 129px;
}
.contact-inf_requisites-block--last{
    border-bottom:1px solid #d9d9d9;
}
.contact-inf_download{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 21px;
}
.contact-inf_download a{
    color: #229581;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    text-decoration: underline;
    margin-left: 10px;
}
.contact-goto_top-text-title{
    color: #333333;
    font-family: "Gilroy";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 21px;
}
.contact-goto_top-text-how{
    color: #229581;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 25px;
}
.contact-goto_top-text-variation{
    display: -ms-flexbox;
    display: flex;
}
.contact-goto_top-text-variation p{
    color: #333333;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
}
.contact-goto_top-text-variation b{
    color: #229581;
    font-family: "Gilroy";
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.contact-goto_top-text-variation img{
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 5px;
    margin-right: 10px;
}
.contact-goto_top-text-variations-first{
    max-width: 617px;
    margin-bottom: 22px;
}
.contact-goto_top-text-variations-second{
    max-width: 563px;
    margin-bottom: 32px;
}
.contact-goto_top-text-avto--title{
    color: #229581;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    margin-bottom: 28px;
}
.contact-goto_top-text-avto--text{
    color: #333333;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    max-width: 588px;
}
.contact-goto_top{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contact-goto_bottom{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -80px;
}
.contact-goto_bottom-marsh{
    margin: 0 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.contact-goto_bottom-marsh a{
    margin-left: 9px;
    color: #229581;
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: underline;
}
.contact-goto_map iframe{
    width: 100%;
    height: 680px;
    margin-top: 60px;
}
.contact-goto{
    padding-bottom: 119px;
}
.contact-queshion{
    background: url('../img/contact-queshion.png');
}
.contact-queshion .wrapper{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.contact-queshion_text{
    padding-top: 155px;
}
.contact-queshion_text-title{
    color: #333333;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    margin-bottom: 48px;
}
.contact-queshion_text-number{
    color: #333333;
    font-family: "Gilroy";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 37px;
}
.contact-queshion_text-number a{
    color: #229581;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: underline;
}
.contact-queshion_text-inf{
    max-width: 520px;
    color: #333333;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
}
.contact-queshion_form{
    width: 590px;
    height: 580px;
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    padding: 51px 31px 47px 31px;
    margin-top: -40px;
}
.contact-queshion_form-inp-file{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.contact-queshion_form-inp-file-left{
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.contact-queshion_form-inp-file-left button{
    border-radius: 3px;
    border: 1px solid #999999;
    background-color: #ffffff;
    padding: 10px 25px;
}
.contact-queshion_form-inp-file-right input{
    width: 295px;
    border-bottom: 1px solid black;
    margin-top: 18px;
}
.contact-queshion_form-inp-file-right p{
    color: #333333;
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
}
.contact-queshion_form-text{
    margin-top: 17px;
    color: #181818;
    font-family: "Gilroy";
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 27px;
}
.contact-queshion_form-btn{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 27px;
}
.contact-queshion_form-text--bottom{
    text-align: center;
    color: #333333;
    font-family: "Gilroy";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 16px;
}
.contact-queshion_form-text--bottom a{
    color: #229581;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: underline;
}
.contact-queshion_form-inp .input p{
    color: #333333;
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
}
.contact-queshion_form-inp .input input{
    background: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 6px ;
    padding-left: 10px;
    color: #999999;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}
.contact-queshion_form-inp{
    margin-bottom: 45px;
}




@media screen and (max-width:1128px){
    .contact-queshion .wrapper{
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
    .contact-queshion_form{
        margin-top: 60px;
    }
    .contact-queshion_form{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:970px){
    .contact-inf_contener{
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .contact-inf_requisites{
        margin-top: 55px;
    }
    .contact-goto_top{
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .contact-goto_top img:nth-child(2){
        margin-top: 36px;
    }
    .contact-goto_bottom{
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
    .contact-goto_bottom-marsh:nth-child(2){
        padding-top: 26px;
    }
}
@media screen and (max-width:597px){
    .contact-queshion_form{
        width: auto;
        max-width: 590px;
    }
    .contact-queshion_form-inp-file{
        flex-direction: column;
    }
    .contact-queshion_form-inp-file-right input{
        width: 100%;
    }
    .contact-queshion_form-inp-file-left{
        margin-bottom: 10px;
    }
    .contact-queshion_form{
        padding: 17px 14px 11px;
        
    }
    .contact-queshion_form-btn{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:555px){
    .contact-queshion_text-number{
        font-size: 19px;
    }
    .contact-queshion_text{
        padding-top: 37px;
    }
}
@media screen and (max-width:514px){
    .contact-inf_requisites-block-meta{
        margin-right: 0;
        font-size: 13px;
    }
    .contact-inf_requisites-block-name{
        font-size: 13px;
    }
    .contact-goto_top-text-variations-second{
        margin-bottom: 0;
    }   
    .contact-goto_top-text-avto--title{
        margin-bottom: 0;
    }
}
@media screen and (max-width:462px){
    .contact-inf_doc-text{
        font-size: 13px;
        margin: 16px 0;
    }
    .contact-inf_doc-title{
        font-size: 20px;
    }
    .contact-goto_top-text-variation p{
        font-size: 13px;
        line-height: 20px;
    }
    .contact-queshion_text-number{
        font-size: 13px;
        margin-bottom: 18px;
    }
    .contact-queshion_text-title{
        font-size: 32px;
        margin-bottom: 14px;
    }
    .contact-queshion_text-inf{
        font-size: 13px;
        line-height: 20px;
    }
}
@media screen and (max-width:425px){
    .contact-inf_doc-image img{
        margin: 0 5px;
    }
}   